{{- range $.Values.ports }}
{{- if not .nonHTTP -}}
{{- if .ingress }}
{{- $portName := .name }}
{{- $middlewares := list }}
{{- if $.Values.https.redirect }}
   {{- $middlewares = append $middlewares (printf "%s-redirect-https-%s@kubernetescrd" $.Release.Namespace (include "fullname" $)) }}
{{- end }}
{{- if $.Values.auth.enabled }}
   {{- $middlewares = append $middlewares (printf "%s-%s-%s@kubernetescrd" $.Release.Namespace $.Values.auth.type (include "fullname" $)) }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- include "labels" $ | indent 2 }}
  annotations:
    spec.ingressClassName: traefik
    traefik.ingress.kubernetes.io/router.entrypoints: "web"
    {{- if $middlewares }}
    traefik.ingress.kubernetes.io/router.middlewares: "{{ join "," $middlewares }}"
    {{- end }}
  name: "{{ include "fullname" $ }}-{{ .name }}-http"
spec:
   ingressClassName: traefik
   rules:
   {{- range .ingress }}
   - host: "{{ .host }}"
     http:
       paths:
       {{- if .paths }}
       {{- range .paths }}
       - path: "{{ .path }}"
         backend:
           service:
             name: "{{ include "fullname" $ }}"
             port:
               name: {{ $portName }}
         pathType: {{ .pathType | default "ImplementationSpecific" }}
       {{- end }}
       {{- else }}
       - path: "/"
         backend:
           service:
             name: "{{ include "fullname" $ }}"
             port:
               name: {{ $portName }}
         pathType: ImplementationSpecific
       {{- end }}
   {{- end }}
{{- end }}
{{- end -}}
{{- end -}}
