{{- if $.Values.https.enabled }}
{{- range $.Values.ports }}
{{- if not .nonHTTP -}}
{{- if .ingress }}
{{- $portName := .name }}
{{- $middlewares := list }}
{{- if $.Values.auth.enabled }}
   {{- $middlewares = append $middlewares (printf "%s-%s-%s@kubernetescrd" $.Release.Namespace $.Values.auth.type (include "fullname" $)) }}
{{- end }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
   {{- include "labels" $ | indent 2 }}
   annotations:
     spec.ingressClassName: traefik
     cert-manager.io/cluster-issuer: ca-issuer
     traefik.ingress.kubernetes.io/router.entrypoints: "{{ .entryPoint | default (print "websecure") }}"
     {{- if $middlewares }}
     traefik.ingress.kubernetes.io/router.middlewares: "{{ join "," $middlewares }}"
     {{- end }}
   name: "{{ include "fullname" $ }}-{{ .name }}-https"
spec:
   ingressClassName: traefik
   rules:
{{- range .ingress }}
     - host: "{{ .host }}"
       http:
         paths:
{{- if .paths }}
{{- range .paths }}
           - path: "{{ .path }}"
             backend:
               service:
                 name: "{{ include "fullname" $ }}"
                 port:
                   name: {{ $portName }}
             pathType: {{ .pathType | default "ImplementationSpecific" }}
{{- end }}
{{- else }}
           - path: "/"
             backend:
               service:
                 name: "{{ include "fullname" $ }}"
                 port:
                   name: {{ $portName }}
             pathType: ImplementationSpecific
{{- end }}
{{- end }}
   tls:
{{- range .ingress }}
     - hosts:
         - "{{ .host }}"
       secretName: "{{ include "fullname" $ }}-selfsigned-tls-{{ .host | replace "." "-" }}"
{{- end }}
{{- end }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end }}
